.top-nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
    font-family:sans-serif;
    font-size: 2cap;
    white-space: nowrap;
    border-style: solid;
    border-bottom-width:1px;
    border-top:hidden;
    border-left: hidden;
    border-right:hidden;
    border-color: #ff9900;
}
.top-nav a{
    margin-left:1mm;
    margin-right:1mm;
    color:#ff9900;
    text-decoration: none;
}
.top-nav a:hover{
    color:#ff9900cc;
}
.top-nav a:active{
    color:#ff990099;
}
.logo{
    max-height: 2cap;
}
.whole-page{
    border: 0mm;
    padding: 0mm;
    margin: 0mm;
    display: flex;
    display: block;
    background-color: #141414;
    font-family:monospace;
}
.main-page{ 
    margin:1mm;
    padding:0;
    max-height: 100%;
    font-family:monospace;
    font-size: 2cap;
    color:rgb(240, 248, 255);

}