.top-nav{
    margin: auto;
    position: fixed;
    display: inline-block;
    display: flex;
    overflow: auto;
    top:10px;
    left:3%;
    right:5%;
    width: 80%;
    padding: 8px 32px; 
    justify-content: space-between;
    font-weight: 900;
    font-size: 2cap;
    border-radius: 2mm;
    background-color: #ffffff10;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    z-index: 114514;
}
.top-nav a{
    margin: 0 1mm;
    color:#ff9900;
    text-decoration: none;
}
.top-nav a:hover{
    opacity: 0.75;
}
.top-nav a:active{
    opacity: 0.50;
}
.whole-page{
    display: flex;
    display: block;
    background-color: #F7F0E3;
    margin: 0 ;
}
.main-page{ 
    padding:1mm;
    font-family: cursive;
    font-size: 5mm;
    color:#000000;
    background-color: #ffb84d80;
    border-radius: 1mm;
    text-align: center;
    min-width: 6cm;
    max-width: 90%;
    margin: 0 auto;
    width: max-content;
}
.icon{
    max-height: 5mm;
    margin: 1mm;
}
body{
    padding-top: 2cm;
}