<div class="randomText" id="textBox">点击显示</div>
<style>
    .randomText {
        padding: 4px;
        color: #000000;
        background-color: #ffb84d80;
        border-radius: 2mm;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
        text-align: center;
        width: fit-content;
        margin: 10px auto 0 auto;
        transition:  0.2s;
    }
    .randomText:hover {
        opacity: 0.8;
    }
    .randomText:active {
        transform: scale(0.9);
    }
</style>